:root {
  --background: #757575;
  --nav: #130e11;
  --nav_text: #E7E7E7;
  --dropdown_menu_background: black;

  --table_header_color: #2F2F2F;
  --table_header_text_color: white;
  --table_row_color: #A2A2A2;
  --table_row_hover: #D2D2D2;
  --table_row_clicked: #E7E7E7;
  --table_cell_border_color: black;
  --table_shadow: black;
  --table_border: 1px solid black;


  --input_valid: #004980;
  --input_invalid: red;
  --input_label: white;
  --input_background: #393939;
  --textarea_text: white;
  --select_option_text_color: white;


  --button_background: #fcfcfd;
  --red_button_background: #B64545;
  --disabled_button_background: gray;
  --button_text_color: #4589b6;

  --loader_color_0: #4E4E4E;
  --loader_color_100: #ebe6ff;

  --modal_background: #212121;
  --modal_client_text_color: white;
  --modal_client_tab_background: #696969;
  --modal_client_table_text: white;

  --header_text: white;

  --pagination_text_color: black;
  --pagination_active_background_color: #a5a5a5;
  --pagination_active_text_color: white;
  --pagination_hover_color: #ddd;

  --slider_background: #ccc;
  --slider_before_background: #fff;
  --slider_checked_background: #BBDEFA;

  --profile_background: #5a5a5a;

}