.library_button {
  cursor: pointer;
  padding: .2em .4em;
  margin: 0 2px;
  background: var(--color4);
  color: #fff;
  border: 1px solid var(--color4);
  border-radius: 3px;
  text-decoration: none;
}

.library_button:hover {
  color: #fff;
  box-shadow: 1px 1px 10px var(--color3);
}

.library_button.active {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid var(--color3);
}

.library-content {
  padding-top: 20px;
  /*box-shadow: 0 2rem 2rem #00000080;*/
  /*min-height:200px;*/
  /*width:100%;*/
  /*max-width:500px;*/
  /*border-radius:3px;*/
  /*overflow:auto;*/
  /*padding:20px;*/
}

.buttons_container {
  display:flex;
}

#add_comedian {
  margin-left: auto;
}