* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;

  font-family: 'Nunito', sans-serif;
  background-size: cover;
}

.main {
  width: min(95vw, max(60vw, 600px));
  margin: 5px auto;
  /*overflow: auto;*/
  /*background: var(--color5);*/
  /*box-shadow: 3px 2px 10px var(--color3);*/
}

@media (max-width: 620px) {
  .main {
    padding: 5px 10px;
  }
}


.css_full_width {
  width: 100%;
}

.top-line {
  position: -webkit-sticky;
  position: sticky;
  color: #fff;
  background: var(--color3);
  height: 60px;
  line-height: 60px;
  text-align: right;
  padding-right: 20px;
  cursor: default;
  top: 0;
  z-index: 1;
}

.navbar-toggler-icon {
  color: green !important;
}

.css_base_nav {
  background: var(--nav);
  box-shadow: 0 6px 6px -2px rgba(0,0,0,.2);
  margin-bottom: 5px;
}

.css_nav_text, .dropdown-item {
  color: var(--nav_text);
}

.css_nav_text.active, .nav_text_css:active {
  font-weight: bold;
}

.css_input_valid {
  box-shadow: 2px 1px 1px var(--input_valid);
}

.css_input_invalid {
  box-shadow: 2px 1px 1px var(--input_invalid);
}

th, td {
    border: 1px solid var(--table_cell_border_color) !important;
}

th:last-of-type, td:last-of-type {
  border-right: 0 !important;
}

th:first-of-type, td:first-of-type {
  border-left: 0 !important;
}

.dropdown-menu {
  background: var(--dropdown_menu_background);
}