*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

hr {
  clear: both;
  color: var(--color3);
  background-color: var(--color3);
  height: 1px;
  border: none;
  margin: 1em 0;
  padding: 0;
  line-height: 1px;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  height: 100vh;
}

.main {
  width: min(95vw, max(60vw, 600px));
  margin: 7px auto;
  background: var(--color5);
  box-shadow: 3px 2px 10px var(--color3);
  padding: min(5vw, 2vh);
  flex-grow: 1;
  overflow: auto;
  scrollbar-color: var(--color4) transparent; /* For Firefox */
  scrollbar-width: thin; /* For Firefox */
}

.css_full_width {
  width: 100%;
}

.top-line {
  position: -webkit-sticky;
  position: sticky;
  color: #fff;
  background: var(--color3);
  height: 60px;
  line-height: 60px;
  text-align: right;
  padding-right: 20px;
  cursor: default;
  top: 0;
  z-index: 1;
}

.css_base_nav {
  background: var(--nav);
  box-shadow: 0 6px 6px -2px rgba(0,0,0,.2);
  margin-bottom: 5px;
}

.css_nav_text, .dropdown-item {
  color: var(--nav_text);
}

.css_nav_text.active, .nav_text_css:active {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color3);
}