.css_modal {
  position: fixed;
  top: 7%;
  max-height: 93%;
  max-width: 90%;
  overflow: auto;
  z-index: 1001;
  transition: all 0.3s ease-out;
}

.css_modal_child {
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--modal_background);
  box-shadow: 1px 1px 1px black;
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .css_modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.css_backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}