.css_page_active {
  background-color: var(--pagination_active_background_color);
  color: var(--pagination_active_text_color);
}

.css_page a:focus {
  outline: thin dotted;
}

.css_page:hover:not(.active) {
  background-color: var(--pagination_hover_color);
}

.css_page {
  padding: 0;
  margin-right: 5px;
}

.css_page a {
  display: block;
  color: var(--pagination_text_color);
  text-decoration: none;
  padding: 5px;
}

.break-me {
  margin-right: 5px;
}

.break-me a {
  color: var(--pagination_text_color) !important;
}
