.ratings {
  display: flex;
  justify-content: space-between;
  background: gray;
}

.global_rating .bxs-star {
  transform: translateY(1px);
}

.user_rating{
  display: flex;
  flex-direction: row-reverse;
  height: 2rem;
}

input.star{
  display: none;
}

.bx-star {
  float: right;
  padding: 5px;
  font-size: 1.5rem;
  color: #444;
  transition: all .2s;
  margin-bottom: 1em;
}

input.star:checked ~ label > .bx-star {
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label > .bx-star {
  color: #FCEF94;
  text-shadow: 1px 1px 20px #FFFFFF;
}

input.star-1:checked ~ label > .bx-star {
  color: #F62;
}

label > .bx-star:hover{
  transform: rotate(-15deg) scale(1.3);
}
