@media screen and (min-width: 1250px) {
  .scheduler {
    table-layout: fixed;
    box-shadow: 2px 0 5px var(--scheduler_shadow);
  }

  .schedule_plus_button {
    text-align: center;
  }
}

.scheduler {
  width: 100%;
  background: var(--scheduler_background);
}

.scheduler_time {
  width: 53px;
  height: 30px;
  color: var(--scheduler_header_and_time_text_color);
}

.scheduler_time_header {
  color: var(--scheduler_background);
}

.scheduler_th {
  text-align: center;
  height: 30px;
  color: var(--scheduler_header_and_time_text_color);
}

.th_today {
  background: var(--scheduler_today_header_background);
}

.td_today {
  background: var(--scheduler_today_background);
}

.scheduler_td {
  height: 30px;
}

.scheduler_td:not(:last-of-type) {
  /*border-right: 1px solid lightgray;*/
}

.scheduler_td:hover {
  background: var(--scheduler_cell_hover);
}

@media screen and (max-width: 1250px) {
  .schedule_wrapper {
    padding: 0;
  }

  .scheduler_overflow_line {
    margin-bottom: 10px;
    margin-left: 46px;
    overflow-x: auto;
  }

  .scheduler_time {
    position: absolute;
    z-index: 1;
    left: 10px;
  }

  .scheduler_th, .scheduler_td, .scheduler_time {
    height: 40px;
  }

  .scheduler_td, .scheduler_th, .scheduler_holiday {
    min-width: 250px;
    max-width: 250px;
  }
}

.scheduler_holiday {
  height: 30px;
  background: var(--scheduler_holiday);
}

/* --------------------------------*/

.visits_container {
  max-width: 93%;
  display: flex;
  box-sizing: border-box;
}

.visit {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: var(--scheduler_visit);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: default;
}

.visit:hover {
  /*background: #89cafc;*/
  background: var(--scheduler_visit);
}

.visit:not(:first-of-type) {
  margin-left: 3px;
}

.css_visit_popup {
  background: var(--scheduler_visit_popup);
  border-radius: 5px;
  padding: 2px 5px;
}

.css_header_cell {
  display:flex;
  justify-content:center;
}

.css_header_date {
  flex:1;
  display: flex;
  justify-content: center;
  transform: translateX(10px);
}

.css_plus_week_button {
  background: var(--scheduler_plus_week_button_background);
  border: 1px solid var(--scheduler_plus_week_button_border);
  color: var(--scheduler_plus_week_button_text);
  margin-bottom: 10px;
}

.css_tab {
  cursor: pointer;
  background-color: var(--modal_client_tab_background);
}

.css_td {
  color: var(--modal_client_table_text)
}