.css_input {
  width: 100%;
}

.css_input + .css_input {
  margin-top: .7em;
}

.css_input_valid {
  box-shadow: 2px 1px 1px green;
}

.css_input_invalid {
  box-shadow: 2px 1px 1px red;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid var(--color3);
  border-radius: 4px;
  padding: 5px;
  background-color: var(--input_background);
  color: var(--textarea_text);
}

label {
  color: var(--input_label)
}

h5 {
  color: var(--header_text)
}