.react-select-container {
  border: 1px solid var(--color3) !important;
  border-radius: 4px;
}

.react-select__control, .react-select__menu {
  /*background: var(--color5) !important;*/
  border: none !important;
}

.react-select__menu {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.react-select__option:hover {
  background: var(--color4) !important;
}




/*!*.react-select-container, .react-select__control, .react-select__value-container, .react-select__single-value, .react-select__indicators,*!*/
/*!*.react-select__menu, .react-select__menu-list, .react-select__option, .react-select__option:hover {*!*/
